@import "tailwindcss";

:root[data-theme="light"] {
    --color-bg: #ffffff;
    --color-theme-100: #fad1d4;
    --color-theme-300: #f1747e;
    --color-theme-600: #ba1220;
    --color-theme-900: #2e0508;

    /* Secondary Theme: */
/*
    --color-theme-100: #d6f5eb;
    --color-theme-300: #85e0c3;
    --color-theme-600: #2aa27c;
    --color-theme-900: #0a291f;
*/
}

:root[data-theme="dark"] {
        --color-bg: #171717;
        --color-theme-100: #5d0910;
        --color-theme-300: #8b0e18;
        --color-theme-600: #ed4553;
        --color-theme-900: #fad1d4;

        /* Secondary Theme: */
/* 
        --color-theme-100: #0a291f;
        --color-theme-300: #1f7a5d;
        --color-theme-600: #5dd5af;
        --color-theme-900: #d6f5eb;
 */
}

@theme inline {
    --color-bg: var(--color-bg);
    --color-theme-100: var(--color-theme-100);
    --color-theme-300: var(--color-theme-300);
    --color-theme-600: var(--color-theme-600);
    --color-theme-900: var(--color-theme-900);
}

html::-webkit-scrollbar {
    display: none;
}
